@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
$Orbitron: "Orbitron";

$primary: rgba(7, 189, 7, 0.75);
$secondary: rgb(7, 189, 7);
$backdrop: rgb(103, 11, 179);
$display-background:rgba(0,0,0,0.75);
$button-background:rgba(255,255,255,0.75);
$button-background-hover:rgba(255,255,255,0.9);

$ac-button-background:rgba(255,0,0,0.75);
$ac-button-background-hover:rgba(255,0,0,0.9);

$del-button-background:rgba(255,69,0,0.75);
$del-button-background-hover:rgba(255,69,0,0.9);

$equals-button-background:rgba(0,128,0,0.75);
$equals-button-background-hover:rgba(0,127,0,0.9);